* {
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: #562b81;
}

.code-journal-purple {
  max-width: 47%;
  margin: auto;
}

h3 {
  color: white;
  font-weight: 300;
  padding: 20px 0;
  margin: 0 2.2rem;
}

.image-container {
  margin-bottom: 25px;
}

.image {
  width: 100%;
}

.inputfields {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.input {
  margin-top: 10px;
  margin-bottom: 25px;
  height: 35px;
}

.note {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.text-area {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
  height: 150px;
}

button {
  background-color: #562b81;
  border: none;
  color: white;
  padding: 7px 14px;
  border-radius: 4px;
  float: right;
  margin-right: 0.75rem;
}
